name: Deploy FastApi to Azure

on:
    push:
        branches:
            - main
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        env:
            SERVICE_NAME: "fastApi-app"
        steps:
            - uses: actions/checkout@v2
            - name: set Up Pyhton
              uses: actions/setup-python@2
              with:
                python-cersion: '3.11'
            - name: insall dependencies
              run: |
                pip3 install -r requirements.txt
            - name: Database Migrations
              run: |
                  # Run your database migration commands here
                  alembic upgrade head
              env:
                  DATABASE_URL: ${{secrets.DATABASE_URL}}
            - name: Login to Azure
              uses: azure/login@v1
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}
            - name: build and push Docker image
              uses: azure/docker-login@v1
              with:
                login-server: ${{secrets.REGISTRY_NAME}}.azurecr.io
                username: ${{ secrets.REGISTRY_USERNAME }}
                password: ${{ secrets.REGISTRY_PASSWORD }}
            - name: build the image
              run: |
                docker build -t ${{secrets.REGISTRY_NAME}}.azurecr.io/myapp:${{ github.sha }} .
            - name: push the image
              run: |
                docker push ${{secrets.REGISTRY_NAME}}.azurecr.io/myapp:${{ github.sha }}
            - name: Deploy to Azure Web App
              uses: azure/webapps-deploy@v2
              env:
                DB_NAME: "clarity"
                DB_PORT: "5432"
                DB_HOST: "post-faat.postgres.database.azure.com"
                DB_SSLMODE: "require"
                DB_PASSWORD: "A!2Yf3QWuwF"
                DB_USER: "osama"
                API_BASE_URL: 'https://www.cutout.pro'
                API_KEY: "f6788a6d628740a78a66c2007b38d99d"
                NUM_Enhance:  2 
                ALGORITHM: "HS256"
                ACCESS_TOKEN_EXPIRE_MINUTES: 1
                ACCESS_TOKEN_EXPIRE_HOURS: 2
                NAME: Admin
                EMAIL: software@caesarfamilies.info
                PASSWORD: AB1784621$
                IS_ADMIN: TRUE
                SECRET_KEY: "nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQE"
              with:
                app-name: fastapi-clarity
                slot-name: development
                publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
                images: '${{secrets.REGISTRY_NAME}}.azurecr.io/myapp:${{ github.sha }}'